@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --radius: 0.625rem;
    --trans: all 320ms linear;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(241, 245, 248);
    display: grid;
    place-items: center;
    color: rgb(16, 42, 66);
    height: 90vh;
}

.container {
    display: grid;
    place-items: center;
    height: 100%;
    max-width: 90vw;
}

.section-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    height: 100%;
}

.header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 1rem;
}

h1,
h4,
button {
    letter-spacing: 0.3rem;
}

h1 {
    font-size: 2.5rem;
}

h4,
p {
    text-align: left;
}

p {
    color: rgb(16, 42, 66, 0.6);
}

.pic {
    width: 100%;
    height: 21.875rem;
    border-radius: var(--radius);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: var(--radius);
}

.btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tab-btn {
    width: 100%;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 0;
    background: hsl(212, 33%, 89%);
    transition: var(--trans);
}

.tab-btn:nth-child(1) {
    border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
    border-top-right-radius: var(--radius);
}

.tab-btn:hover:not(.active) {
    background: hsl(205, 100%, 96%);
    color: #49a6e9;
}

.tab-btn.active {
    background: #fff;
}

.articles {
    padding: 1.5rem;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.content {
    display: none;
}

.content.active {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background: #fff;
}

h2,
p {
    line-height: 1.5rem;
}

.content p {
    font-size: 1.05rem;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 50rem) {
    .header {
        margin-top: 5rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.95rem;
    }

    .container {
        gap: 3rem;
    }

    .section-center {
        grid-template-columns: 1fr;
    }

    .section {
        margin-bottom: 3rem;
    }

    .content p,
    .content h4 {
        font-size: 0.85rem;
    }
}