@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --bg-clr: rgb(241, 245, 248);
    --clr-white: #fff;
    --text-clr-1: rgb(16, 42, 66);
    --text-clr-2: rgb(26, 106, 162);
    --text-clr-3: rgb(130, 154, 176);
    --spacing: 0.25rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--bg-clr);
    height: 80vh;
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    display: grid;
    place-items: center;
}

.section-center {
    max-width: 90vw;
    margin: 1.5rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    display: grid;
}

.pic {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    padding: 0.3125rem;
}

.format {
    display: grid;
    gap: 3rem;
}

.header {
    display: grid;
    gap: 0.85rem;
    height: 5.3125rem;
    letter-spacing: var(--spacing);
}

.header h3 {
    text-transform: uppercase;
    color: var(--text-clr-2);
    font-size: 1.75rem;
}

.header h4,
.expired {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--text-clr-1);
}

.format p {
    color: var(--text-clr-3);
    line-height: 1.5rem;
    font-size: 1rem;
}

.deadline {
    display: flex;
    gap: 1rem;
}

.countdown {
    display: grid;
    place-items: center;
    background: var(--text-clr-1);
    height: 5rem;
    width: 5rem;
}

.countdown div {
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: var(--spacing);
}

div h4 {
    font-size: 2rem;
}

div span {
    font-size: 0.86875rem;
    letter-spacing: calc(var(--spacing)/2);
}

@media screen and (max-width: 50rem) {
    .container {
        margin-top: 3.5rem;
        max-width: 42rem;
    }

    .section-center {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .format {
        gap: 2rem;
    }

    .header h3 {
        font-size: 1.25rem;
    }

    .header h4 {
        font-size: 0.85rem;
    }
}